@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Quiz" asp-action="Index">Quiz List</a>
    </p>
    <p>
        <a asp-controller="Quiz" asp-action="Create">Create a Quiz</a>
    </p>    
</div>
